* {MARGIN: 0; padding: 0;}

body{ background: #4786fa; padding: 5%; font-family: "Trebuchet MS";}

#corpo {background: #272727(170, 173, 170, 0.829); border: 1px solid #ffffff; border-radius: 5px; box-shadow: 5px 5px 10px rgba(0, 0 , 0, .3); margin: 0 auto;}

header{background-color: rgba(255, 177, 74, 0.945); padding: 2%; border-bottom: 1px solid #ffffff;}

header h1{text-align: center; text-shadow: 3px 3px 5px #030202; text-transform: uppercase; color: #FFF;}

main{padding: 2%;}

footer{background:  rgba(255, 177, 74, 0.945); text-align: center; padding: 2%; border-top: 1px solid rgba(255, 255, 255, 0.945);}

main h2{text-align:left; text-shadow: 3px 3px 3px #030202; text-transform: uppercase; color: #ffffff;} 